userconf.json
mariadbConBU.py
switchRead.py
userconf24.json
userconfHome.json
jsonBackupMachine.json
__pycache__
.vscode/launch.json
jsonBackupMachine1.json
testiSecur.py
mariadbCon_backup.py
mariadbCon_backup2.py
mariadbCon4release.py
remoteGPIO.py
database_backup2023-08-08_120400.sql
testidbbackup2023-08-08_120000.sql
